.card_curso, .corpo-curso {
    width: 12rem;
}


.spa1{
    color: gray;
    font-size: 10px;
}

.spa{
    color: gray;
    font-size: 12px;
}

.corpo-curso .b{
    color: #202020;
    font-weight: 450;
    font-size: 14px;
}

.corpo-curso {
    height: 8rem;
    position: relative;
}

.corpo-curso .preco{
    position: absolute;
    bottom: 0;
    font-size: 15px;
    font-weight: 400 ;
}

.banner-l-curso {
    background: url(../imgs/icone.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-google {
    background-color: #fff;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .btn-google:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .btn-google img {
    width: 20px;
    margin-right: 10px;
  }
  