.footer {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 600px) {
  .logo-footer {
    height: 4em !important;
    width: 6em !important;
    align-self: center;
    margin-left: 4rem;
    margin: auto!important;
  }
}

.bg-dark {
  background-color: black !important;
}

.footer div ul li {
  list-style-type: none;
  text-align: left;
  font-size: 12px;
  margin-left: 0.1rem;
  color: #a3a3a3;
}

.footer div ul li .footerlink {
  font-size: 12px;
  color: #a3a3a3;
  text-decoration: none;
  transition: 0.2s all;
}

.foo center a:hover, .footer div ul li .footerlink:hover {
  font-size: 12px;
  color: #ffdd00;
  text-decoration: underline;
  transition: 0.2s all;
}

.foo center, .foo center a  {
    font-size: 12px;
    color: #a3a3a3;
    padding-bottom: 1rem;
}



.footer h5 {
  margin-left: 1.5rem;
}

.span {
  font-size: 12px;
  margin-left: 2rem;
  color: #a3a3a3;
}

* {
  border-radius: 0 !important;
}

.letter {
  background: #333334dd;
  color: white;
  border-color: #333334dd;
}

.copyright,
.copy {
  color: #858484;
  font-size: 14px;
}

@media (max-width: 600px) {
  .copyright,
  .copy {
    color: #858484;
    font-size: 10px;
  }
}
.copy {
  color: #858484 !important;
}
.copy:hover {
  color: #0066be !important;
}

footer .form-control {
  background: #fff !important;
}
