

.autoo {
    display: grid!important;
    place-content: center!important;
    align-content: center!important;
    align-items: center!important;
}

.form {
    background: #fff;
    padding: 1rem;
    border: .9px solid #d9d9d9;
    width: 75vw;
}


@media (min-width: 766px) {

.luanda {
    background: linear-gradient(0deg, #000000ad , #000000ad), url('../imgs/eletronica.jpeg') center center ;
    background-repeat: no-repeat;
    background-size: cover;
}


.luanda div {
    display: block!important;
}
    
.form {
    width: 30vw;
} 
.form-c {
    width: 50vw!important;
}

}

.body {
    background-color: #cbe4f952;
}

.luanda div {
    display: none;
}

.form .form-control {
    background: #ffffff2c!important;
}