.card-ranking {
    border: 1px solid #d9d9d9;
}

.rate {
    border: 1px solid #d9d9d9;
    padding-left: .3rem;
    padding-right: .3rem;
}
.boddy a:hover {
text-decoration: underline !important;
}

.lista-descontos .card-loja:hover {
    box-shadow: 1px 2px 5px #4dbb74!important;
    transition: all .3s ease;
    transform: translateY(-6px);
}
.lista-descontos .card-loja {
    transition: all .3s ease;

}


@media (max-width: 600px) {
  
    .s{
        margin-top: 5.5rem;
    }
    
    .l {
        margin-top: 6.3rem;
    }
  
  .lista-descontos .card-loja {
    width: 9.5rem!important;
  
  }
  }
  