.foto-perfil-empresa img {
    height: 6em;
    width: 6em;
    border-radius: 90px !important;
    border: 3px solid white;
    box-shadow: 1px 2px 3px #bababa;
    position: absolute;
    bottom: -2.8rem;
    left: 10%;
}

@media (max-width: 790px) {
    .foto-perfil-empresa  {
        left: 0 !important;
       right: 0 !important;
       text-align: center !important;
       align-items: center;
       align-self: center;
       width: 100%;
       position: absolute;
       bottom: -.1rem;
       align-content: center;
    }
    .foto-perfil-empresa img {
        left: 0 !important;
       right: 0 !important;
       height:5em;
       width: 5em;
       position: relative !important;
    }
    .banner_perfil {
        height: 8rem !important;
    }
    .text-center-md {
        text-align: center;
    }
    .suggestions {
        padding-top: 6.5rem!important;
    }
}


.border-b {
    border: 1px solid #d9d9d9;
}
.border-b-t {
    border-top: 1.5px solid #d9d9d9;
    border-bottom: 1.5px solid #d9d9d9;
}

.opcoes p {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}
.opcoes p:hover {
    color: rgb(0, 91, 210);
}

.card-cadastro {
    height: 100%;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    height: 10px;
    background: #d0d0d0;
    border-radius: 0!important;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {

}
/* 
.suggestions {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index:1;
    top: auto;
} */
.nav-fixo {
    background-color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9990;
    top: 0;
}
.suggestions {
    background: white!important;
}


.suggestions .listas-lojas .card-loja:hover {
    box-shadow: 2px 2px 9px #d9d9d9!important;
    transition: all .2s ease-in-out;
}

.suggestions .listas-lojas .card-loja {
    transition: all .2s ease-in-out;
    margin-bottom: 1rem;
}
.suggestions .listas-lojas  {
    background: white!important;
}

.backdrop {
    background: rgba(0, 0, 0, 0.55);
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -2;
    right: 0;
}

@media (min-width: 760px ) {
    .suggestions {
        padding-top: 0rem!important;
    }
}