.banner {
  /* background: linear-gradient(90deg , #000000dd , #000000dd), url(../../imgs/elemax.webp) center center; */
  background-size: cover;
  background: #c7c7c7;
  /* height: 44vh; */
  /* padding: 2rem 0.5rem !important; */
  padding-top: 2rem;
  padding-bottom: 0!important;
  position: relative;
}

.linhas-d {
  padding: 0.4rem 0;
  border-top: 0.5px solid #d9d9d9;
  /* margin-left: .1rem; */
  width: 100%;
  font-size: 14px;
}

.btn-secondary {
  background: #f1f1f1 !important;
  border-color: #f1f1f1 !important;
  color: black !important;
  border-radius: 6px;
}

.btn-secondary:hover,
.btn-secondary:focus-visible,
.btn-secondary:focus-within,
.btn-secondary:focus {
  transition: 0.3s all ease-in-out;
  background: #d8d8d8 !important;
  border-color: #d8d8d8 !important;
  color: black !important;
  border-radius: 6px;
}

::selection {
  background: #009650;
  color: #fff;
}

/* 
.body-banner .titulo {
    text-transform: uppercase;
}

.body-banner  {
    position: absolute;
    margin-top: 8vh !important;
    text-align: center;
    margin-left: 12%;
    margin-right: auto;
} */

.controllers {
  margin-top: 3vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.controllers span:hover {
  color: #efe700;
  transition: 0.2s ease-out;
}

.controllers span {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  margin: auto 0.5rem;
}

.controllers img {
  width: 1.5em;
  height: 1.5em;
}

@media (min-width: 600px) {
  /*     
.body-banner  {
    margin-left: 8vw;
    width: 55vw!important;
    text-align: start;
} */
}

@media (max-width: 600px) {
  .logo-footer {
    height: 2em !important;
  }

}

.swal2-styled {
  background: #23d500 !important;
  border-color: #23d500 !important;
  color: black !important;
  border-radius: 6px;
}
/* 
.btn-primary:hover,
.btn-primary:focus-within,
.btn-primary:focus-visible {
  transition: 0.3s all ease-in-out;
  background: #189000 !important;
  border-color: #189000 !important;
  color: #fff !important;
  border-radius: 6px;
} */

.btn-secondary {
  background: #f1f1f1 !important;
  border-color: #f1f1f1 !important;
  color: black !important;
  border-radius: 6px;
}

.btn-secondary:hover,
.btn-secondary:focus-visible,
.btn-secondary:focus-within,
.btn-secondary:focus {
  transition: 0.3s all ease-in-out;
  background: #d8d8d8 !important;
  border-color: #d8d8d8 !important;
  color: black !important;
  border-radius: 6px;
}

.card-opt {
  box-shadow: -2px 2px 12px #d6d6d6;
  border-radius: 10px;
}

.search-by {
  font-size: smaller;
  color: #bdbdbd !important;
}

.form-control:focus-within,
select:focus-within,
select:focus-visible,
select:focus,
.form-control:focus-visible,
.form-control:focus {
  border-color: #04d700!important;
}

.q {
  border: 1px solid #d9d9d9;
}

.qq span,
.qq i {
  margin: auto 0 !important;
}
.q span,
.q i {
  margin: auto 0 !important;
}
.q {
  padding: 0.8rem 1rem;
  background: #fff;
  text-align: start;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  color: #171717;
  transition: all 0.3s ease;
}

.qq {
    padding: 0.8rem 1rem;
    background: #fff;
    text-align: start;
    border-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

.q:hover,
.q:focus {
  background: #171717;
  color: white;
  transition: all 0.3s ease;
}

.qq {
  background: #fff;
}

.qq:hover,
.q:hover {
  box-shadow: 2px 1px 9px #bdbdbd;
}


/* Estilo para telas maiores que 690px */
@media (min-width: 790px) {
   
   
  .w-lg-50 {
    width: 60%;
  }
.bbb img {
  height: 8em!important;
}

.bbb .b1 {
    width: 50rem !important;
}

}

.quadros .ppp {
  display: grid;
 grid-template-columns: repeat(2, 1fr); /* 3 colunas com larguras iguais */ 
 grid-template-rows: repeat(3, 1fr); /* 2 linhas com alturas iguais */
 gap: 10px;/* Espaço entre os itens (opcional, ajuste conforme necessário)*/ 
}


/* Estilo para telas maiores que 690px */
@media (min-width: 690px) {

  .q,
  .qq {
    width: 100%; /* Garante que todos os itens tenham a mesma largura */
    
  }
}

/* Estilo para telas menores que 690px */
@media (max-width: 690px) {
  .quadros {
    /* display: flex; */
    width: 100%!important;
    /* flex-wrap: nowrap; */
    overflow-x: auto;  
  }
  .quadros .row {
    width: 100dvw;
  }

  .q {
    /* flex: 0 0 auto; Permite que os itens tenham largura variável */
    white-space: nowrap; /* Impede a quebra de linha */
    margin-left: 10px; /* Espaço entre os itens (opcional, ajuste conforme necessário) */
    /* flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    position: relative; */
    width: 100%!important;
  }
  .q i {
    font-size: 25px;
  }

  .q,
  .qq {
    width: 100%; /* Garante que todos os itens tenham a mesma largura */
    font-size: 12px !important;
  }

  .quadros .ppp i{
    font-size: 16px !important;
  }
  .qq {
    /* flex: 0 0 auto; Permite que os itens tenham largura variável */
    white-space: nowrap; /* Impede a quebra de linha */
    margin-left: 10px; /* Espaço entre os itens (opcional, ajuste conforme necessário) */
    /* flex-direction: column-reverse;
    justify-content: center;
    text-align: center!important;
    position: relative; */
    width: 100%!important;
  }
  .qq i {
    font-size: 25px;
  }

  .desconto img {
    width: 60%;
  }

  .desconto .imm {
    text-align: center !important;
    align-items: center;
    padding-bottom: 1rem;
  }
  .scroll-md{
    overflow-x: auto;
  }
  .desconto .imm {

  }
}


.desconto .imm {
  text-align: end ;
}


.categoria-button {
  max-width: 200px; /* ou qualquer valor que se adeque ao seu layout */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.bbb img {
  height: 5em;
}


.bbb {
  position: relative;
  height: 150px;
}

.bbb .b1 {
  position: absolute;
  height: 4rem;
  bottom: 20%;
  width: 20rem;
  border-top-left-radius: 50px!important;
  border-bottom-left-radius: 50px!important;
  background: rgba(255, 255, 255, 0.702);
right: 0;

}
.bbb .b2 {
  position: absolute;
  right: 0;
  left: 0;
  border-radius: 90px!important;
  margin: 1rem auto!important;

}
.bbb .b3 {
  position: absolute;
  bottom: 0;
  border-top-right-radius: 50px!important;
  border-top-left-radius: 90px!important;
  right: 10%;

}

.bg-secondary2 {
  background: rgba(232, 227, 218, 0.839);
}
.bg-light2 {
  background: rgba(232, 227, 218, 0.912);
}